html {
   min-height: 100vh;
   background: linear-gradient(
         112.1deg,
         rgb(32, 38, 57) 11.4%,
         rgb(63, 76, 119) 70.2%
      )
      fixed;
   display: flex;
   justify-content: center;
   align-items: center;
}
body {
   margin: 0;
}
h1,
h2 {
   margin: 0;
   text-align: center;
   font-family: "Luckiest Guy", cursive;
   font-weight: 400;
   letter-spacing: 4px;
}
h1 {
   font-size: 60px;
   margin-bottom: 25px;
   color: #00a0d4;
}
h2 {
   font-size: 30px;
   margin: 30px 0;
   color: #fff;
}
.container {
   margin: 100px 0;
   width: 800px;
}
.title,
.image-container,
.btn {
   display: flex;
   justify-content: center;
}
.title {
   flex-direction: column;
}
.title h2 {
   margin-top: 0;
   margin-bottom: 6px;
   color: #f9af42;
}
.main-img {
   padding: 20px;
   border: 10px dotted #f9af42;
}
.btn {
   gap: 18px;
}
footer {
   color: #fff;
   font-family: "IBM Plex Mono", monospace;
   font-weight: 400;
   font-size: 17px;
   text-align: center;
}
.webLink {
   color: #fff;
   text-decoration: none;
}
.webLink:hover {
   color: #f9af42;
}
#btnOne,
#btnTwo,
#btnOne::after,
#btnTwo::after {
   font-family: "Luckiest Guy", cursive;
   font-weight: 400;
   font-size: 20px;
   letter-spacing: 2px;
   padding: 18px 20px;
   border: none;
   cursor: pointer;
   background-color: #fff;
   color: #111;
   width: 280px;
   outline: transparent;
   position: relative;
}
#btnOne,
#btnOne::after {
   box-shadow: 6px 0px 0px #f9af42;
}
#btnTwo,
#btnTwo::after {
   box-shadow: 6px 0px 0px #00a0d4;
}